<html>
        <head>
            <title>Task List</title>
        </head>
        <body>
            <h1>Lista de Tareas</h1>
            <ul>
                {% for task in task %}
                <li>
                    <h2>{{ task.title }}</h2>
                    <p>{{ task.description }} - {% if task.completed %} Completada {% else %} No completada {% endif %}</p>
                </li>
                {% empty %}
                <p>No hay tareas por hacer.</p>
                {% endfor %}
            </ul>
        </body>
    </html>